
<nav aria-label="breadcrumb">
    <div class="container">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="{% url 'courses:list' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'memberships:profile' %}">Profile</a></li>

        {% block post_detail_link %}
        {% endblock post_detail_link %}

        {% if not request.user.is_authenticated %}
        <li class='breadcrumb-item'><a href="/register">Register</a></li>
        <li class='breadcrumb-item'><a href="/login">Login</a></li>
        {% else %}
        <li class='breadcrumb-item'><a href="/memberships">Memberships</a></li>
        {% endif %}

    </ol>
</div>
</nav>
